body
{	display: flex;
	font-size:18px;
	background: #fefff7;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
}

ul, ol, p
{
	margin-top:1rem;
	maring-bottom:1rem;
}

li 
{
	margin-top:0.5rem;
	maring-bottom:0.5rem;
}

.wrapper
{	flex-grow: 1;
	padding: 20px;
}

header, footer
{
	padding: 10px 20px;
	background: lightgoldenrodyellow;
}

.page
{
	max-width: 1012px;
	margin: auto auto;
}

.site-name a
{
	color:#555;
	font-weight: bold;
}
.site-name a:hover
{
	color:#333;
	text-decoration: none;
	cursor: pointer;
}