body
{	display: flex;
	font-size:16px;
	background: #fefff7;
	flex-direction: column;
	min-height: 100vh;
}
.wrapper
{	flex-grow: 1;
	padding: 20px;
}

header, footer
{
	padding: 10px 20px;
	background: lightgoldenrodyellow;
}

.page
{
	max-width: 1012px;
	margin: auto auto;
}

.sitle-title a
{
	color:black;
	font-weight: bold;
}
.sitle-title a:hover
{
	color: black;
	text-decoration: none;
	cursor: pointer;
}