---
---
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{page.title}} | {{site.title}}</title>
	<link rel="icon" href="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f5a5.svg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css" integrity="sha512-UVQYZVYu7WhHEaO2xGEmc4/3F8ctnXt4jwfGl2MCIHKc95RMgYS8yfNJ3j6wUe0UGiTK0S3vcmh3Ml9h278x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/style.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/js/jquery-1.8.3.min.js" integrity="sha512-J9QfbPuFlqGD2CYVCa6zn8/7PEgZnGpM5qtFOBZgwujjDnG5w5Fjx46YzqvIh/ORstcj7luStvvIHkisQi5SKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/js/bootstrap.min.js" integrity="sha512-ZPmDPQf8gWl5YoEwyPZMWi/kam9NTb2+jeChvhX8rfuUw0KCGlWt4HuWu5JQIo3/LWTuHLNZ2DqKFy8niqR6Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<header>
<div class="container">
{% include header.html %}
</div>
</header>
<div class="wrapper">
<div class="page container">
<h1 class="title">{{page.title}}</h1>
{% assign topic_sentence = '' %}
{% if page.topics %}
    {% assign topic_sentence= '' %}
    {% assign last =  page.topics.size | minus: 1 %}
    {% assign topics =  page.topics | sort %}
    {% for topic in topics %}
        {% assign topic_sentence = topic_sentence | append: topic %}
        {% if forloop.index < last %}
           {% assign topic_sentence = topic_sentence | append: ", " %}
        {% elsif forloop.index == last %}
           {% assign topic_sentence = topic_sentence | append: ", and " %}
        {% else %}
            {% assign topic_sentence = topic_sentence %}
        {% endif %}
    {% endfor %}
{% elsif page.topic %}
    {% assign topic_sentence = '' | append: page.topic %}
{% else %}
    {% assign topic_sentence = '' %}
{% endif %}

<p class="muted">{{page.date}} <span class="topic">This post is about {{topic_sentence}}</span></p>
{{content}}
</div>
</div>
<footer>
<div class="container">
{% include footer.html %}
</div>
</footer>
</body>
</html>