---
---
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{page.title}} | {{site.title}}</title>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns="http://w3.org/2000/svg" viewBox="0 0 100 100">
	<text y=".9em" font-size="90">🖥️</text>
	</svg>" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css" integrity="sha512-UVQYZVYu7WhHEaO2xGEmc4/3F8ctnXt4jwfGl2MCIHKc95RMgYS8yfNJ3j6wUe0UGiTK0S3vcmh3Ml9h278x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="style.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/js/jquery-1.8.3.min.js" integrity="sha512-J9QfbPuFlqGD2CYVCa6zn8/7PEgZnGpM5qtFOBZgwujjDnG5w5Fjx46YzqvIh/ORstcj7luStvvIHkisQi5SKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/js/bootstrap.min.js" integrity="sha512-ZPmDPQf8gWl5YoEwyPZMWi/kam9NTb2+jeChvhX8rfuUw0KCGlWt4HuWu5JQIo3/LWTuHLNZ2DqKFy8niqR6Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<header>
<span class="site-name"><a href="/">{{site.title}}</a></span>
<span class="nav-item"><a href="about">About</a></span>
</header>
<div class="wrapper">
<div class="page">
<h2>{{page.title}}</h2>
{{content}}
</div>
</div>
<footer>
© ReactiveMatter
</footer>
</body>
</html>